
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #welcomebanner { width:67%; }
    #social { width:30%; margin-left:3%;}  
}
/* Tablet Portrait */
@media screen and (max-width: 768px) {
    #welcomebanner { width:100%; }
    #social { width:100%; margin:0; border:none; }
}
body {
    margin: 0;
    padding: 0;
    background-image: url("backgroundweb.png");
    max-width: 100%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    display: inline-block;
    background: #ccc;
    border-bottom: 1px solid #ddd;
    top: 0;

}

header nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    list-style-position: outside;
}

header nav ul li {
    display: inline-block;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

a:hover {
    background-color: yellow;
  }

main {
    width: 800px;
    margin: 100px 300px;
    min-height: 500px;
    display: block;
    text-align: center;
    background-image: url("backgroundarticle.png");
    text-decoration: none;
    max-width: 100%;
    height: auto;
}

h1, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;    

}

h1 {
    font-size: 30px;
    
    
}

footer {
    margin: 0 auto;
    color: #333333;
    font-size: 12px;
    width: 100%;
}

#gitlink, #linkedinlink {
    text-decoration: none;
}

h2 {
    text-align: center;
}

p img {
    width: 20px;
    height: 20px;
}
